<mat-toolbar color="primary">
    <img src="../../assets/images/logo.png" alt="logo" class="responsive" routerLink=''>
    <button *ngIf="isLoggedIn" mat-button routerLink="school"><mat-icon>dashboard</mat-icon> School</button>
    <button *ngIf="isLoggedIn" mat-button routerLink="administration"><mat-icon>admin_panel_settings</mat-icon> Administration</button>
    <span class="spacer"></span>
    <span *ngIf="isLoggedIn">{{name}}, {{role}}</span>
    <button *ngIf="isLoggedIn" mat-mini-fab [matMenuTriggerFor]="menu" color="primary" class="menu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="loggingOut()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </mat-toolbar>
