<mat-grid-list cols="3" rowHeight="510px">

  <!--Left side -->
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <!--Students-->
    <mat-card>
      <mat-card-header>Students <span class="spacer"></span> <button mat-stroked-button (click)="addStudent()">+</button></mat-card-header>
      <mat-card-content>
        <mat-list role="list">
          <mat-list-item role="listitem" *ngFor="let student of students" (click)="studentClick(student)">
            {{student.name}}
            <br>
            0{{student.phone}}
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>

    <!--Courses-->
    <mat-card>
      <mat-card-header>Courses <span class="spacer"></span> <button mat-stroked-button (click)="addCourse()">+</button></mat-card-header>
      <mat-card-content>
        <mat-list role="list">
          <mat-list-item role="listitem" *ngFor="let course of courses" (click)="courseClick(course)">
            {{course.name}}
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <!--Right side -->
  <mat-grid-tile [colspan]="2" [rowspan]="1">

    <div>
      <div *ngIf="courses && students && routerStatus()">
        <h1>
          Number of courses: {{courses.length}}
        </h1>
        <br>
        <h1>
          Number of students: {{students.length}}
        </h1>
      </div>
      <router-outlet></router-outlet>
    </div>

  </mat-grid-tile>

</mat-grid-list>
